zmodule archive
zmodule direnv
zmodule environment
zmodule exa
zmodule fzf
zmodule git
zmodule input
zmodule ssh
zmodule termtitle
zmodule utility
zmodule kiesman99/zim-zoxide

zmodule esc/conda-zsh-completion
zmodule zsh-users/zsh-completions
zmodule completion

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
zmodule romkatv/powerlevel10k
