zmodule archive
zmodule environment
zmodule git
zmodule input
zmodule ssh
zmodule termtitle
zmodule utility

zmodule direnv
zmodule exa
zmodule fzf

zmodule esc/conda-zsh-completion
zmodule zsh-users/zsh-completions
zmodule completion

zmodule kiesman99/zim-zoxide

zmodule dracula/zsh-syntax-highlighting --name dracula-zsh-syntax-highlighting --source zsh-syntax-highlighting.sh
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
zmodule romkatv/powerlevel10k
